@tailwind base;
@tailwind components;
@tailwind utilities;

.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}

input[type="file"]::file-selector-button {
  background-color: white;
  border: transparent;
  cursor: pointer;
}

@font-face {
  font-family: 'Sansation';
  src: url('../font/Sansation_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Lato';
  src: url('../font/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Inter';
  src: url('../font/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.main-bg {
  background-image: url("../../images/dashboard.png");
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-attachment: fixed;
}
.logo {
  background-image: url("../../images/healthcare-logo\.png");
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 26.84px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(1, 135, 165, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 107, 130, 1);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
.boxsh {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
}
.collapsible {
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.open-div {
  animation: open 0.5s ease-out forwards;
}

.close-div {
  animation: close 0.5s ease-out forwards;
}
.animate-fadeInDown {
  animation: fadeInDown 1s ease-out;
}
